body 
{
    background:  #f1f1f1;
    font-family: "Times New Roman", Times, serif;
    width: 90%;
    margin: 0;
    padding: 20px;
}
h1,h2
{
    text-align: center;
}
header
{
    background: white;
    padding: 20px;
}
nav ul
{
    list-style-type: none;
    overflow: hidden;
    background: #333;
    margin: 0;
    padding: 0;
}
nav li
{
    float: left;
}
nav li a
{
    display:  block;
    color:  #FFF;
    text-align:  center;
    text-decoration:  none;
    padding:  14px 16px;

}
nav li a:hover
{
    background: #111;
}
article
{
    background: white;
    padding: 20px;
}
aside
{
    background: white;
    padding: 10px;
}
footer
{
    background: #ddd;
    margin-top: 16px;
    padding: 10px;
}
img
{
    text-align: end;
    margin: 10px;
    max-width: 500px;
}
form
{
    max-width: 500px;
}
input
{
    margin-bottom: 10px;
}
select
{
    margin-bottom: 10px;
}
textarea
{
    margin-bottom: 10px;
}
fieldset
{
    margin-bottom: 10px;
}
.red
{
    color: red;
}
.redHeader
{
    color: darkred;
}
